html, body {
    height: 100%;
    overflow-x: hidden;
}

input, select{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 40px;
    box-sizing: border-box;
}

label {
  font-family: 'Roboto', sans-serif;
}

button[type=submit],input[type=submit] {
    width: 100%;
    background-color: #49274A;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

button[type=submit]:hover,input[type=submit]:hover {
    background-color: rgba(73, 39, 74, 0.774)
}

.stretch-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    header {
        flex: 0 1 auto;
    }

    section {
        flex: 1 1 auto;
    }
}

.logo-banner {
    background-color: rgba(73,39,74,0.5);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: lightgray;
    font-size: 40px;
}

.login, .register {
    // background-color: #49274A;
    background-image: url(../images/splash.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    #form {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin-top:  -255px;
        margin-left: -250px;
        padding: 10px;
        background-color: rgba(211,211,211,0.8);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;

        input {
            background-color: rgba(255,255,255,0.5);
        }
    }
}

.shoe-input {
    width: 50%;

    label {
        width: 100%;
        text-align: center;
    }

    input {
        display: block;
        margin: auto;
        width: 50px;
    }
}

.sidenav {
    height: 100%;
    z-index: 1;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 5px;

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #49274A;
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        margin: 5px 5px 0px 5px;
        background-color: #E8E8E8;

        &:hover {
            color: darkgray;
        }

        &.logo {
            position:absolute;
            bottom:40px;
            border:none;
            margin: auto;
            padding: 5px;
            background-color: transparent;

            img {
                width: 100%;
            }
        }
    }
}

.link-box {
    p {
        margin: 0px;
        font-size: small;

        a {
            color: #0062cc;
        }
    }
}

#recent {
    h1 {
        text-align: center;
        padding: 10px;
    }

    .center-svg {
        svg{
            display: block;
            margin: auto;
        }
    }

    table.summary {
        margin: auto;
        // border: 1px solid black;
        width: 350px;

        th, td {
            padding: 5px;
            border-bottom: 1px solid lightgray;
        }

        tr:hover {background-color: rgba(73, 39, 74, 0.1);}
    }
}


.center {
    h1& {
        text-align: center;
    }
}

.error-message {
    background-color: #ff4c4c;
}

.c3-shape {
    fill: none;
}

.c3-axis path, .c3-axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#weekday_breakdown {
    .c3-tooltip-container {
        color: black;
        background-color: rgba(255,255,255,0.4);
    }
}

.datefilter {
    display: flex;
    justify-content: center;

    button, p{
        float: left;
        padding: 0px 20px;
    }

    p {
        margin: 8px;
    }
}

.c3-chart-arcs-background{
    fill:#a9a9a9;
    stroke:none;
} 

.week {
    table, th, td {
        border: 1px solid black;
    }
}

.week {
    .week_header {
        background-color: lightgray;
        color: rgba(73,39,74);
    }
    
    border-spacing: 5px;
}

.date {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

.weekday {
    text-align: center;
}


#activity_loader {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    // background-color: rgba(0,0,0, 0.5)
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(73, 39, 74, 0.7);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#map {
    height: 80%;
}

.pressure {
    display: inline-block;
    padding: 10px;
    border: 2px solid black;
    vertical-align: top;

    h3 {
        text-align: center;
    }
}

.shoe {
    display: inline-block;
    color: rgb(73, 39, 74);
    font-size: 25px;
    font-weight: 600;
    line-height: 0px;

    img {
        height: 500px;
        position: relative;
    }

    
    &.left {
        .top-sensor {
            position: relative;
            top: -435px;
            height: 0px;
            margin: 0px;
            padding: 0px;
            left: 42px;
        }

        .bottom-sensor {
            position: relative;
            top: -130px;
            height: 0px;
            margin: 0px;
            padding: 0px;
            left: 90px;    
        }

    }

    &.right {
        img {
            transform: scaleX(-1)
        }

        .top-sensor {
            position: relative;
            top: -435px;
            height: 0px;
            margin: 0px;
            padding: 0px;
            left: 82px;
        }

        .bottom-sensor {
            position: relative;
            top: -130px;
            height: 0px;
            margin: 0px;
            padding: 0px;
            left: 35px;
        }
    }
}

.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

.profile-dropdown {
    width: 300px;
    border: 1px solid gray;
    box-shadow: 3px 3px lightgray;
    border-radius: 0px;
}

.profile-card {
    margin: auto;
    text-align: center;
}
