{% extends "logisteps/index.html" %}

{% block page %}
<div style="height:100%">
    <div>
        <h1 style="text-align:center; padding: 30px">Weekly Activity</h1>
    </div>
    <div class="calander_week" style="display:table; margin:auto">
        <div class="month_header">
            <h2 style="display:inline-block"><span id="start_date"></span> - <span id="end_date"></span></h2>
            <!-- <div class="datefilter" style="display:inline-block">
                <button class="btn" id="decrement_day" type="reset" onclick="decrementDay()">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="btn" id="increment_day" type="reset" onclick="incrementDay()">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div> -->
            <div type="text" id="datepicker" style="float:right"></div>
            <div style="display:inline-block; padding: 10px"><button id="datepicker-button" style="background-color:transparent; border:none">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i></button></div>
        </div>
        <div>
            <div id="activity_loader">
                <div class="loader"></div>
            </div>
            <table class="week">
                <tr class="week_header">
                    <th class="sunday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Sunday</h4>
                    </th>
                    <th class="monday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Monday</h4>
                    </th>
                    <th class="tuesday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Tuesday</h4>
                    </th>
                    <th class="wednesday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Wednesday</h4>
                    </th>
                    <th class="thursday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Thursday</h4>
                    </th>
                    <th class="friday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Friday</h4>
                    </th>
                    <th class="saturday">
                        <h2 class="date"></h2>
                        <h4 class=weekday>Saturday</h4>
                    </th>
                </tr>
                <tr class="week_progress">
                    <td class="sunday">
                        <div id="sunday_graph"></div>
                    </td>
                    <td class="monday">
                        <div id="monday_graph"></div>
                    </td>
                    <td class="tuesday">
                        <div id="tuesday_graph"></div>
                    </td>
                    <td class="wednesday">
                        <div id="wednesday_graph"></div>
                    </td>
                    <td class="thursday">
                        <div id="thursday_graph"></div>
                    </td>
                    <td class="friday">
                        <div id="friday_graph"></div>
                    </td>
                    <td class="saturday">
                        <div id="saturday_graph"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}