{% extends "logisteps/index.html" %}

{% block page %}
<div style="height:100%">
    <div>
        <h1 style="text-align:center">Weekly Activity</h1>
    </div>
    <div class="calander_week">
        <div class="month_header">
            <span><h2 id="start_date"></h2> - <h2 id="end_date"></h2></span>
        </div>
        <div>
            <table class="week">
                <tr class="week_header">
                    <th class="sunday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Sunday</h3>
                    </th>
                    <th class="monday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Monday</h3>
                    </th>
                    <th class="tuesday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Tuesday</h3>
                    </th>
                    <th class="wednesday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Wednesday</h3>
                    </th>
                    <th class="thursday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Thursday</h3>
                    </th>
                    <th class="friday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Friday</h3>
                    </th>
                    <th class="saturday">
                        <h3 class="month"></h3>
                        <h2 class="date"></h2>
                        <h3 class=weekday>Saturday</h3>
                    </th>
                </tr>
                <tr class="week_progress">
                    <td class="sun">
                        <div id="sun_graph"></div>
                    </td>
                    <td class="mon">
                        <div id="mon_graph"></div>
                    </td>
                    <td class="tue">
                        <div id="tue_graph"></div>
                    </td>
                    <td class="wed">
                        <div id="wed_graph"></div>
                    </td>
                    <td class="thur">
                        <div id="thur_graph"></div>
                    </td>
                    <td class="fri">
                        <div id="fri_graph"></div>
                    </td>
                    <td class="sat">
                        <div id="sat_graph"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}