{% extends "logisteps/index.html" %}

{% block page %}
<div style="height:100%">
    <div>
        <h1 style="text-align:center;">Pressure Breakdown</h1>
    </div>
    <div style="height: 70%; text-align: center">
        <div class="pressure month">
            <h3>Past Month</h3>
            <div class="shoe left">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="left shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
            <div class="shoe right">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="right shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
        </div>
        <div class="pressure week">
            <h3>Past Week</h3>
            <div class="shoe left">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="left shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
            <div class="shoe right">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="right shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
        </div>
        <div class="pressure day">
            <h3>Past Day</h3>
            <div class="shoe left">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="left shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
            <div class="shoe right">
                <img src="../../static/logisteps/images/shoe-print.svg" alt="right shoe outline">
                <p class="top-sensor"></p>
                <p class="bottom-sensor"></p>
            </div>
        </div>
    </div>
    <div class="description">
        <h3>What's this?</h3>
        <p>
            This graphic visualizes the average pressure placed on each sensor for the past day, week, and month. This
            data may be used to help you identify unhealthy amounts of pressure being applied to parts of the
            foot and make adjustments. By displaying average pressure over the past day, week, and month, you can track
            their progress. As more sensors are added to the smartsole technology, this visual will relect a visual that
            is closer and closer to a pressure gradient map.
        </p>
    </div>
</div>
{% load static %}
<script src="{% static 'logisteps/js/pressureBreakdown.js' %}"></script>
{% endblock %}