{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="register">
    
    <div id="form">
        <img src="{% static 'logisteps/images/logo.png' %}" alt="LogiSteps Logo" style="width:400px;display: block;margin: auto;">

        <form method="post">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="form-group col-sm-6">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>
            {% comment %} <div class="form-group">
                <div class="form-group shoe-input" style="float: left;">
                    {{ form.shoe1.label_tag }}
                    {{ form.shoe1 }}
                </div>
                <div class="form-group shoe-input" style="float: right;">
                    {{ form.shoe2.label_tag }}
                    {{ form.shoe2 }}
                </div>
            </div> {% endcomment %}
            <div class="row">
                <div class="form-group col-sm-6">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group col-sm-6">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>

            
            <div><button type="submit" class="btn btn-lg btn-block">Submit</button></div>
        </form>
    </div>
</div>

{% endblock %}

