<div class="sidenav" style="position:relative">
    <a href="{% url 'logisteps:recent'%}">Recent</a>
    <a href="{% url 'logisteps:steps_over_time' %}">Steps Trend</a>
    <a href="{% url 'logisteps:steps_by_day' %}">Weekday Breakdown</a>
    <a href="{% url 'logisteps:activity' %}">Weekly Activity</a>
    <a href="{% url 'logisteps:pressure' %}">Pressure Map</a>
    <a href="{% url 'logisteps:map' %}">Location Map</a>
    <a class="logo" href="{% url 'logisteps:recent' %}">
        <img src="../../static/logisteps/images/logo.png" alt="Logisteps Logo">
    </a>
</div>
