{% extends "logisteps/index.html" %}

{% block page %}
<div style="height:100%">
    <div style="display:flex; justify-content:center">
        <h1 style="text-align:center; display: inline-block;">Weekday Breakdown</h1>
    </div>
    <div>
        <div id="weekday_breakdown"></div>
    </div>
    <div>
        <p>
            Displayed below is a graphic showing a ratio of active time vs. inactive time, plus step count
            for the past year, broken down by weekday. This may help identify activity tendencies for a user,
            enabling them to determine which day of the week they may need to increase activity.
        </p>
    </div>
</div>
{% load static %}
<script src="{% static 'logisteps/js/weekdayBreakdown.js' %}"></script>
{% endblock %}