{% extends "logisteps/index.html" %}

{% block page %}
<div style="height:100%">
    <div style="display:flex; justify-content:center">
        <h1 style="text-align:center; display: inline-block;">Weekday Breakdown</h1>
    </div>
    <div>
        <div id="weekday_breakdown"></div>
    </div>
    <div class="description">
        <h3>What's this?</h3>
        <p>
            Shown here is a graphic displaying a ratio of active time vs. inactive time, plus step count
            for the past year, broken down by weekday. This may help you identify activity tendencies for yourself,
            enabling you to determine which day of the week you may need to increase activity.
        </p>
    </div>
</div>
{% load static %}
<script src="{% static 'logisteps/js/weekdayBreakdown.js' %}"></script>
{% endblock %}