{% extends "logisteps/index.html" %}

{% block page %}

<div style="height:100%">
    <div>
        <h1 style="text-align:center">Step Count Over Time</h1>
    </div>
    <div>
        <div id="activity_loader">
            <div class="loader"></div>
        </div>
        <div id="linechart-week"></div>
    </div>
    <div>
        <div class="datefilter">
            <button class="btn" id="decrement_week" type="reset" onclick="decrementWeek()">
                <i class="fas fa-angle-double-left"></i>
            </button>
            <button class="btn" id="decrement_day" type="reset" onclick="decrementDay()" style="margin-left:5px">
                <i class="fas fa-chevron-left"></i>
            </button>
            <select onchange="setRange(this);" style="width:100px; margin:0px 5px 0px 5px; border-radius: 5px">
                <option value="Week">Week</option>
                <option value="Month">Month</option>
                <option value="Year">Year</option>
            </select>
            <button class="btn" id="increment_day" type="reset" onclick="incrementDay()" style="margin-right:5px">
                <i class="fas fa-chevron-right"></i>
            </button>
            <button class="btn" id="increment_week" type="reset" onclick="incrementWeek()">
                <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'logisteps/js/stepsTimeline.js' %}"></script>
{% endblock %}