{% extends "base_generic.html" %}

{% block content %}

<div class="login">
    <div class="logo-banner">
      <h1 class="logo-text">LogiSteps</h1>
    </div>
  <div id="form">
    <h1>Login</h1>

    {% if form.errors %}
      <p class="error-message">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      
      {% for field in form.visible_fields %}
          <div class="form-group">
              {{ field.label_tag }}

              {{ field }}

              {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
          </div>
      {% endfor %}

      <div><button type="submit" value="login" class="btn btn-lg btn-block">Login</button></div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <div class="link-box">
      <p><a href="{% url 'logisteps:register' %}">Create account</a></p>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </div>
</div>

{% endblock %}
