body {
    background: url("images/Under-Construction-PNG-Clipart.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center center;
    background-attachment: fixed;
}